{% extends "base.html" %}

{% block head %}
<title>My Memory</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/cover.css') }}">
{% endblock %}

{% block body %}

<body class="d-flex h-100 text-center text-bg-dark">

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <a href="{{ url_for('index') }}" style="text-decoration: none;">
          <h3 class="float-md-start mb-0">My Memory</h3>
        </a>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link btn" href="{{ url_for('login') }}">login</a>
          <a class="nav-link btn" href="{{ url_for('signup') }}">Sign-up</a>
        </nav>
      </div>
    </header>

    <main class="px-3">
      {% block main %}
      <img class="mb-4" src="{{ url_for('static', filename='assets/family.png') }}">
      <h1>My Memory</h1>
      <p class="lead">A simple web application to save and lookback at your memories</p>
      {% endblock %}
    </main>

  </div>

</body>
{% endblock %}